@model List<ElectroStore.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="fw-bold mb-4">Users Management</h2>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
         
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center">No users found</td>
            </tr>
        }
        else
        {
            foreach (var u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.FullName</td>
                    <td>@u.Email</td>
                
                    <td>
                        <a asp-action="UserDetail"
                           asp-route-id="@u.Id"
                           class="btn btn-sm btn-primary">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
