@{
    ViewData["Title"] = "Order Completed";
}

<div class="text-center py-5">
    <h2 class="mb-3 text-success">Payment Successful ?</h2>

    <p class="text-muted mb-4">
        Your order has been placed successfully.
    </p>

    <p class="fw-semibold">
        Order Number:
        <span class="text-primary">#@ViewBag.OrderId</span>
    </p>

    <a asp-controller="Home" asp-action="Index"
       class="btn btn-outline-primary mt-4">
        Continue Shopping
    </a>
</div>